fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
motor
authlib
httpx
requests
pydantic[email]
pymongo
bcrypt
starlette
itsdangerous
email-validator
pyjwt
cryptography